<div class="container">
    <mat-card style="background-color: #eff4fd; border-color: #eff4fd;">
        <mat-card-header class="card-header">
          <h1><strong>CRUD App**</strong></h1>
          <h3>Register</h3>
        </mat-card-header>
        <mat-card-content class="sub-container">
          <form
            class="example-form"
            [formGroup]="registerationform"
            (ngSubmit)="register()"
          >
            <mat-form-field class="example-full-width" appearance="standard">
            <mat-label>First Name</mat-label>
              <input matInput formControlName="fname" />
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="standard">
                <mat-label>Last Name</mat-label>
                  <input matInput formControlName="lname" />
                </mat-form-field>
    
            <mat-form-field class="example-full-width" appearance="standard">
                    <mat-label>Username</mat-label>
                      <input matInput formControlName="username" />
                    </mat-form-field>    

                    <mat-form-field class="example-full-width" appearance="standard">
                        <mat-label>Email</mat-label>
                        <input
                          matInput
                          type="email"
                          placeholder="Email"
                          formControlName="email"
                        />
                      </mat-form-field>
                    
            <mat-form-field class="example-full-width" appearance="standard">
              <mat-label>Password</mat-label>
              <input
                matInput
                type="password"
                placeholder="password"
                formControlName="password"
                autocomplete="new-password"
              />
            </mat-form-field>

            <mat-radio-group
            formControlName="gender"
            aria-label="Gender"
            class="radio-btns"
          >
            <mat-radio-button value="male">Male</mat-radio-button>
            <mat-radio-button value="female">Female</mat-radio-button>
          </mat-radio-group>
    
            <div class="button-space">
              <button mat-raised-button [disabled]="registerationform.invalid" class="submit-btn">Register</button>
              <a class="back-login-btn" routerLink="/login" mat-raised-button
                >Back to Login</a
              >
            </div>
          </form>
        </mat-card-content>
      </mat-card>
</div>