.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  h1{
    color: purple;
    font-family:cursive;
  }
.back-login-btn{
    background-color: purple;
    color: white;
  }
  .button-space {
    padding-top: 100px;
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  .submit-btn{
    background-color: rgb(31, 31, 31);
    color: white;
  }
  .card-header{
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    margin-right: 15px;
  }
  .example-form {
    min-width: 1;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }