/* .example-form {
    min-width: 150px;
    max-width: 900px;
    width: 100%;
  }  */
  
  .form-width {
    width: 100%;
  }

  .mat-elevation-z8{
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
.btn{
    display: flex;
    margin-top: 10px;
    gap: 10px;
}