html{
    background-color: #eff4fd;
}

.mylogo{
    position: absolute;
    top: 0;
    left: 0;
}

.content {
    padding-top: 30px;
    display: grid;
    justify-content: center;
    align-items: center;
  }
.header{
    padding-left: 400px;
    font-family: cursive;
    color: purple;
}
.Listings{
    margin-top: 100px;
}